.bg{
    background-color: #faf6f4;
}

.main-image{
    width: 90%;
    position: relative;
    left: 13.5rem;
}

.first-header{
    font-family: Lovelace;
    font-size: 46px;
    color: #323232;
}

.second-header{
    font-family: Montserrat;
    font-size: 16px;
    color: #323232;
}

.header{
    font-family: Lovelace;
    font-size: 26px;
    color: #323232;
}

.name{
    font-family: Lovelace;
    font-size: 22px;
    color: #323232;
}

.more-button{
    font-family: Lovelace;
    font-size: 16px;
    background-color: #323232;
    color: #ffffff;
    border-radius: 4px;
    padding: 13px 30px;
    font-size: 16px;
}

.rings-button{
    font-family: Lovelace;
    color: #323232;
    border: 1px solid;
    border-radius: 4px;
    padding: 13px 30px;
    border-color: #323232;
    font-size: 14px;
}

.card-img-top{
    border: none;
}

.banner{
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    right:10px;
    padding: 30px;
    color: #323232 !important;
    fill: #323232 !important;
    stroke: #323232 !important;
}

.au{
    background-color: #323232;
}

.au-header{
    font-family: Lovelace;
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
}

.au-button{
    font-family: Lovelace;
    font-size: 16px;
    background-color: #ffffff;
    color: #323232;
    border-radius: 4px;
    padding: 13px 30px;
    font-size: 16px;
}

.input-field{
    font-family: Montserrat;
    font-size: 16px;
    background-color: #323232;
    color: #ffffff;
    border-radius: 4px;
    padding: 13px 56px;
    border: 1px #ffffff solid;
}

.agreement{
    font-family: Montserrat;
    font-size: 12px;
    color: #ffffff;
}

.contacts{
    background-color: #323232;
    height: 29.25rem;
}

.contacts-img{
    width: 100%;
    position: relative;
    bottom: 8.5rem;
}

.contacts-text{
    font-family: Montserrat;
    font-size: 16px;
    color: #ffffff;
}

.contacts-header{
    font-family: Lovelace;
    font-size: 26px;
    color: #ffffff;
}
